<!-- <div class="col-md-6">
    <div class="card card-container">
        <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
        />
        <h1 style="text-align: center;">Sign Up</h1>
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-floating mb-3 m-3">
                <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                    minlength="3" maxlength="20" #username="ngModel" id="username"
                    [ngClass]="{ 'is-invalid': f.submitted && username.errors }" />
                <label for="username">Username</label>
                <div class="invalid-feedback" *ngIf="username.errors && f.submitted && phone.touched">
                    <div *ngIf="username.errors['required']">Username is required</div>
                    <div *ngIf="username.errors['minlength']">
                        Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors['maxlength']">
                        Username must be at most 20 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                    #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
                <div class="invalid-feedback" *ngIf="email.errors && f.submitted && phone.touched">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">
                        Email must be a valid email address
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                    minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
                <div class="invalid-feedback" *ngIf="password.errors && f.submitted && phone.touched">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Sign Up</button>
            </div>

            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
        </div>
    </div>
</div> -->

<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <div class="main-block" style="margin-top: 30px;">
        <h1 style="text-align: center;">Sign Up</h1>
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-floating mb-3 m-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="UserName" name="username"
                    [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
                <label for="floatingInput">User Name</label>
                <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors['required']" class="form-text link-warning">Username is required</div>
                    <div *ngIf="username.errors['minlength']" class="form-text link-warning">
                        Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors['maxlength']" class="form-text link-warning">
                        Username must be at most 20 characters
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3 m-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
                    [(ngModel)]="form.email" required email #email="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
                <label for="floatingInput">E-mail</label>
                <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']" class="form-text link-warning">Email is required</div>
                    <div *ngIf="email.errors['email']" class="form-text link-warning">
                        Email must be a valid email address
                    </div>
                </div>
            </div>
            <div class="form-floating m-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
                    [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                <label for="floatingPassword">Password</label>
                <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors['required']" class="form-text link-warning">Password is required</div>
                    <div *ngIf="password.errors['minlength']" class="form-text link-warning">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-floating m-3">
                <input type="phone" class="form-control" name="phone" id="phone" placeholder="Phone Number"
                    [(ngModel)]="form.phone" required minlength="10" maxlength="10" #phone="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && phone.errors }" />
                <label for="phone">Phone Number</label>
                <div class="invalid-feedback" *ngIf="phone.errors && f.submitted">
                    <div *ngIf="phone.errors['required']" class="form-text link-warning">Phone number is required</div>
                    <div *ngIf="phone.errors['minlength']" class="form-text link-warning">
                        Phone must be 10 Digits characters
                    </div>
                    <div class="form-text link-warning">
                        Phone must be 10 Digits characters
                    </div>
                </div>
            </div>            
            <div class="form-floating m-3 text-center">
                <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
            </div>
        </form>
        <div class="alert alert-success" role="alert" *ngIf="isSuccessful">
            Your registration is successful!
        </div>
      </div>
    </div>
</div>