<div class="container" style="padding-top: 80px;">
  <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-6" style="text-align: left;">
          <h1 style="color: #4CAF50; font-size: 4.5em;">Your Vision.  </h1>
          <h1 style="font-size: 3.5em;"> Our Solutions</h1>
          <p>With our innovative and insightful technology, we strive to enhance our users’ every day experiences. 
          </p>
          <div>
              <a role="button" class="btn btn-outline-primary" type="submit" routerLink="/register">Reach Out</a>
          </div>
      </div>
      <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"><img src="../../assets/all/C.png" /></div>
  </div>
</div>

<div class="container text-center" style="padding-top: 100px;">
  <h1> JForce Solutions </h1>
</div>