<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid" *ngIf="currentUser">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Hello {{currentUser.username}} - {{currentUser.id}}</h5>
                    <div>
                        <div>
                            <div class="time">{{time}}</div>
                            <div class="time">{{date}}</div>
                            <div *ngIf="!logged">
                                <button type="button" class="btn btn-outline-success" (click)="login()">Login</button>
                            </div>
                            <div *ngIf="logged">
                                <button type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-info" (click)="viewUserReport()">View Report</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>